/*root variables*/

:root {
  --black-shadow-color: rgba(0, 0, 0, 0.15);
  --btn-gradients-light-hover-quiet-color: #dcf4ff;
  --btn-gradients-light-pressed-color: #aedcf5;
  --btn-gradients-light-hover-color: #1da4ff;
  --blue-n1-color: #0072c2;
  --grey-p1-color: #909090;
  --grey-p5-color: #303030;
  --grey-p6-color: #e0e0e0;
  --grey-p7-color: #f0f0f0;
  --grey-p8-color: #f7f7f7;
  --grey-p9-color: #ffffff;
  --grey-p3-color: #b0b0b0;
  --icon-light-blue-color: #005eac;
  --light-sky-blue-color: rgba(136, 221, 255, 0.15);
  --rough-n-tumble-color: #5a4949;
  --light-secondary: #606060;
}

/* Font-family */

@font-face {
  font-family: "HoneywellSansWeb";
  src: url("https://raw.githubusercontent.com/gaurav-thoughtspot/sample-hosted-css/dev/HoneywellSansWeb-Light.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "HoneywellSansWeb";
  src: url("https://raw.githubusercontent.com/gaurav-thoughtspot/sample-hosted-css/dev/HoneywellSansWeb-LightItalic.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "HoneywellSansWeb";
  src: url("https://raw.githubusercontent.com/gaurav-thoughtspot/sample-hosted-css/dev/HoneywellSansWeb-Medium.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "HoneywellSansWeb";
  src: url("https://raw.githubusercontent.com/gaurav-thoughtspot/sample-hosted-css/dev/HoneywellSansWeb-MediumItalic.ttf")
    format("truetype");
  font-style: italic;
}

body {
  font-family: "HoneywellSansWeb" !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "HoneywellSansWeb" !important;
}

/* Button
bk/rd-button-primary/secondary :  v1
button-module__primary/secondary: v2
*/

.rd-button-primary,
.bk-button-primary,
.button-module__primary {
  font-weight: 800 !important;
  background: linear-gradient(
    144.82deg,
    #0072c2 5.58%,
    #1792e5 93.38%
  ) !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-radius: 4px !important;
  color: var(--grey-p9-color);
}

.rd-button-primary:hover,
.bk-button-primary:hover,
.button-module__primary:hover {
  background: var(--btn-gradients-light-hover-color) !important;
}

.rd-button-primary:active,
.bk-button-primary:active,
.button-module__primary:active {
  background: var(--blue-n1-color) !important;
}

.rd-button-primary[disabled],
.bk-button-primary[disabled],
.button-module__primary[disabled],
.bk-disabled-button.bk-primary-button {
  background: var(--grey-p3-color) !important;
  border-radius: 4px !important;
  color: var(--grey-p9-color);
}

.rd-button-secondary,
.bk-secondary-button,
.button-module__secondary {
  background: var(--grey-p9-color) !important;
  color: var(--grey-p5-color) !important;
  border: 1px solid var(--grey-p7-color) !important;
  box-sizing: border-box !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-radius: 4px !important;
}

.rd-button-secondary:hover,
.bk-secondary-button:hover,
.button-module__secondary:hover {
  background: var(--btn-gradients-light-hover-quiet-color) !important;
  color: var(--icon-light-blue-color) !important;
  border: 1px solid transparent !important;
}

.rd-secondary-button:active,
.bk-secondary-button:active,
.button-module__secondary:active {
  background: var(--btn-gradients-light-pressed-color) !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.rd-secondary-button[disabled],
.bk-secondary-button[disabled],
.button-module__disabled,
.bk-disabled-button.bk-secondary-button {
  border: 1.5px solid var(--grey-p3-color) !important;
  background: var(--grey-p9-color);
  color: var(--grey-p3-color) !important;
  pointer-events: none;
}

/*develop tab see in live btn */

.button-module__primary > .button-module__buttonText {
  color: var(--grey-p9-color);
}

/* select and filter chips
.bk: v1
.select-module: 
rd-chip-wrapper: pinboard v1
chip-base-module: answer v2
*/

.bk-select-visibility {
  border: none !important;
}

.bk-select-head,
.select-module__selectHead,
.rd-chip-wrapper,
.chip-base-module__filter {
  border: 1px solid var(--grey-p6-color) !important;
  box-shadow: 1px 1px 1px var(--black-shadow-color) !important;
  border-bottom-right-radius: 4px !important;
  border-radius: 4px !important;
  background-color: var(--grey-p9-color) !important;
  font: 16px !important;
  color: var(--grey-p5-color) !important;
}

.bk-select-head::after {
  border-bottom: none !important;
}

.bk-select-head:active,
.bk-select-head:hover,
.select-module__selectHead:hover,
.select-module__selectHead:active,
.rd-chip-wrapper:hover,
.chip-base-module__filter:hover {
  border: 1px solid var(--grey-p1-color) !important;
}

/* select disabled */

.bk-select-head.bk-disabled,
.bk-dropdown-item-disabled,
.select-module__selectHead[disabled] {
  color: var(--grey-p3-color) !important;
  background: var(--grey-p8-color) !important;
}

/* dropdown up icon caret background */

.select-module__selectOpen > [data-radiant-v2].icon-module__gray,
.bk-select.bk-dropdown-open .dropdown-caret {
  background: var(--btn-gradients-light-pressed-color) !important;
  border-radius: 4px !important;
}

.bk-action-menu,
.select-module__popoverWrapper > .menu-module__actionMenu {
  background: var(--grey-p7-color) !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.select-module__popoverWrapper
  > [data-radiant-v2].input-base-module__container {
  border: none !important;
  padding-left: 14px;
  background: var(--grey-p7-color) !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--grey-p6-color) !important;
}

.select-module__popoverWrapper > .input-text-module__container {
  padding: 0 !important;
}

.bk-dropdown-item-info:hover,
.bk-dropdown-item-container :hover,
.menu-module__itemInfo:hover {
  background: var(--light-sky-blue-color) !important;
}

.bk-dropdown-item-info:hover > .bk-dropdown-text,
.menu-module__itemInfo:hover > .menu-module__itemText > p {
  color: var(--icon-light-blue-color) !important;
}

/* filter chips pinboard v1 
 */

.rd-chip.rd-chip-style-filter {
  background: var(--grey-p9-color) !important;
}

.rd-chip.rd-chip-style-filter:hover {
  border: none !important;
}

/*  search field
.bk-input-container: v1
input-base-module: v2
 */

[data-radiant-v2] .input-base-module__container,
.bk-input-container-inner {
  background: var(--grey-p7-color) !important;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
  border-bottom: none !important;
  color: var(--light-secondary) !important;
  font-weight: 500 !important;
}

[data-radiant-v2] .input-base-module__container .input-base-module__input {
  font-size: 16px !important;
  padding-bottom: 3px !important;
}

[data-radiant-v2] .input-base-module__container:hover,
.bk-input-container-inner:hover {
  box-shadow: none !important;
  border: 1px solid var(--icon-light-blue-color) !important;
}

/* remove blue bottom border */
.bk-input-container-inner::after {
  border-bottom: 1px solid transparent !important;
}

input:placeholder-shown {
  font-style: italic !important;
}

[data-radiant-v2]
  .input-base-module__container:hover
  [data-radiant-v2].icon-module__gray,
.bk-input-container-inner:hover .rd-icon-color-gray {
  fill: var(--light-secondary) !important;
}

[data-radiant-v2].icon-module__gray,
.bk-input-container-inner .rd-icon-color-gray {
  fill: var(--grey-p5-color) !important;
}

/* table header
  answerlist/pinboard list => v1
*/

/* checkbox alignment */
.bk-select-all-checkbox {
  padding-left: 13px !important;
}

 /* table header */
 .bk-list-header{
   padding: 0 !important;
   height: 50px !important;
  border: 2px solid var(--grey-p8-color)  !important;  
  background:  var(--grey-p9-color) !important; 
  font-weight: 800 !important; 
  color: var(--grey-p5-color) !important; 
}

/* verticle separater */
.bk-column-title {
  border-left: 2px solid var(--grey-p8-color)  !important;
  text-align: center !important;
  padding-left: 20px !important;
  margin-right: 5px  !important;
}

/* data table content alignment */
.bk-column{
  padding-left: 15px !important;
}

/* Pop-up 
modal-header => v1
modal-module__modal => v2
*/

.modal-module__modal {
  box-shadow: 15px 30px 40px rgba(0, 0, 0, 0.2),
    0px 11px 15px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}

.modal-module__header {
  border-bottom: none !important;
}

.modal-module__header .modal-module__title,
.modal-header {
  padding-top: 30px !important;
  color: var(--grey-p5-color)  !important;
  font-size: 24px !important;
  background: var(--grey-p9-color) !important;
}